body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wallpaper, footer {
  margin-bottom: 2.5rem;;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h1.title {
    font-size: 1.2rem;
  }
}
