@import 'tailwindcss';

body {
  /* text-slate-400 */
  color: rgb(148, 163, 184);
  font-family: Arial, Helvetica, sans-serif;
}

.about a:link,
.about a:visited {
  color: white;
}

.wallpaper:hover .caption {
  display: block;
}

.tag-search input {
  background-color: white;
  padding: 0.4rem;
}
