@import 'tailwindcss';

@theme {
  --color-dark-primary: #0d1014;
}

:root {
  color: var(--color-slate-400);
  background-color: var(--color-dark-primary);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 16px;
}

.about a:link,
.about a:visited {
  color: white;
}

.wallpaper:hover .caption {
  display: block;
}
