@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* text-slate-400 */
  color: rgb(148, 163, 184);
}

.about a:link,
.about a:visited {
  color: white;
}

.wallpaper:hover .caption {
  display: block;
}
